div {
    background-color: magenta
}

/* Basic styles for the header */
.site-header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header img {
    height: 40px;
}

.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

footer {
    background-color: blue;
    color: gray;
}

p{
    background-color: pink;
    font-size: 22px;
}